{% extends 'base.html' %}

{% block content %}

<!-- Start Hero Section -->
        <div class="hero bg-dark">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Корзина</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->
    <div class="untree_co-section before-footer-section">
        <div class="container">
          <div class="row mb-3">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-name">Услуга</th>
                      <th class="product-format">Формат</th>
                      <th class="product-color">Цвет</th>
                      <th class="product-sides">Стороны</th>
                      <th class="product-type">Тип бумаги</th>
                      <th class="product-quantity">Количество</th>
                      <th class="product-total">Стоимость</th>
                      <th class="product-info">Доп. информация</th>
                      <th class="product-file">Файл</th>
                      <th class="product-remove">Удалить</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in cart_items %}
                    <tr>
                      <td class="product-name">{{ item.product_name }}</td>
                      <td class="product-format">{{ item.format }}</td>
                      <td class="product-color">{{ item.color }}</td>
                      <td>{{ item.sides }}</td>
                      <td>{{ item.paper_type }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.cost }}</td>
                      <td>{{ item.extra_info }}</td>
                      <td><a href="{{ item.file.url }}">🗎</a></td>
                      <td><a href="delete/{{item.id }}" class="btn btn-black btn-sm">X</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              
            </div>
            <div class="col-md-6 pl-5">
              <div class="row justify-content-end">
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-12 text-right border-bottom mb-5">
                      <h3 class="text-black h4 text-uppercase">Итого в корзине</h3>
                    </div>
                  </div>                  
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <span class="text-black">Сумма</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black">{{ total_cost }}₽</strong>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <form action="create_order/" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-black text-white btn-lg py-3 btn-block bg-dark">Подтвердить заказ</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   

    
    </div>
    {% endblock %}