{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="bg-light">
  <div class="container pb-5">
      <div class="row">
          <div class="col-lg-5 mt-5">
              <div class="card mb-3">
                  <img class="card-img img-fluid" src="{% static "images/poster.png" %}" alt="Card image cap" id="product-detail">
              </div>
              
          </div>
          <!-- col end -->
          <div class="col-lg-7 mt-5">
              <div class="card">
                  <div class="card-body">
                      <h1 class="h2">Плакат</h1>
                      <p class="h3 py-2">50₽</p>
                      <h6>Описание:</h6>
                      <p>Плакат – это крупноформатный печатный продукт, предназначенный для визуального представления информации, рекламы, анонсов мероприятий, художественных изображений и другой важной информации. Постеры используются для рекламных кампаний, оформления мероприятий, декора интерьеров и других целей. В нашей интернет-типографии мы предлагаем качественное изготовление постеров с использованием современных технологий печати и высококачественных материалов.</p>
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <h6>Доступно:</h6>
                          </li>
                          <li class="list-inline-item">
                              <p class="text-muted"><strong> Одна/две страницы</strong></p>
                          </li>
                      </ul>

                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                          <div class="row pb-3">
                              <div class="col d-grid"></div>
                              <div class="col d-grid">
                                  <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Добавить в корзину</button>
                              </div>
                          </div>
                      </form>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Close Content -->    
{% endblock %}
