{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start Hero Section -->
        <div class="hero bg-dark">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Услуги</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->

    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
              <div class="row">

                  <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/blank">
                        <img src="{% static 'images/forms.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Бланк</h3>
                        <strong class="product-price">От 10₽</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div> 
                <!-- End Column 1 -->
                    
                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/leaflet">
                        <img src="{% static 'images/leaflets.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Листовка</h3>
                        <strong class="product-price">От 20₽</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div> 
                <!-- End Column 2 -->

                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/poster">
                        <img src="{% static 'images/poster.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Плакат</h3>
                        <strong class="product-price">От 40₽</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 3 -->

                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/flyer">
                        <img src="{% static 'images/flyers.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Флаер</h3>
                        <strong class="product-price">От 8₽</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->


                <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/booklet">
                        <img src="{% static 'images/booklets.png' %}" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Евробуклет</h3>
                        <strong class="product-price">От 50₽</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div> 
                <!-- End Column 1 -->
              </div>
        </div>
    </div>

    {% endblock %}